.contain_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3vw;
  /* position: fixed; */
}

.btn {
  background-color: #072226;
  color: white;
  font-family: inherit;
  font-size: 15px;
  padding: 5px 11px;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px white;
  transition: transform 0.5s, box-shadow 0.5s;
}

.contain_btn > span {
  border: none;
  margin-top: 0.5vh;
  text-align: center;
  color: white;
  font-family: inherit;
  font-size: 32px;
  margin-bottom: 0.5rem;
}

@media screen and (min-height: 896px) {
  .btn {
    background-color: #072226;
    color: white;
    font-family: inherit;
    font-size: 15px;
    padding: 5px 11px;
    border-radius: 10px;
    margin-top: 5vh;
  }
}
